mixin header(first, second, third)
	header#header
		.wrapper
			h1 <span>Ip</span> Calc
			.main-nav
				nav
					ul
						li(class=first)
							a(href="index.html") Маршрутизация
						li(class=second)
							a(href="ipcalc.html") IP калькулятор
						li(class=third)
							a(href="#") Об авторе
