mixin header()
	header#header
		.wrapper
			h1 <span>Ip</span> Calc
			.main-nav
				nav
					ul
						li.active
							a(href="index.html") Маршрутизация
						li
							a(href="ipcalc.html") IP калькулятор
						li
							a(href="#") Об авторе
