include sections/header
include settings/settings
include sections/content

<!DOCTYPE html>
html(lang="ru")
	head
		+settings()
	body
		main.content
			+header("active", "", "")
			+content()


		link(rel="stylesheet" href="css/main.min.css")
		script(src="js/scripts.min.js")
	
