include sections/header
include settings/settings
include sections/content-ip-calc

<!DOCTYPE html>
html(lang="ru")
	head
		+settings()
	body
		main.content
			+header("", "active", "")
			+content-ip-calc()


		link(rel="stylesheet" href="css/main.min.css")
		script(src="js/scripts.min.js")
